body {
    background-color: #5eb4ff;
    font-family: sans-serif;
}

input[type="checkbox"] {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.title {
    color: black;
    font-size: 24px;
    font-weight: bolder;
    height: 50px;
    margin-bottom: 5px;
    object-fit: contain;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
}

.body {
    position: relative;
}

.page {
    position: absolute;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}

.mainMenu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, max-content));
    justify-content: center;
    padding: initial;
    gap: 10px;
}

.menuOptions {
    background-color: #5eb4ff;
    border: none;
    column-span: all;
    grid-column: 1 / -1;
    padding: 0px;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}

.menuOptions > button, .createPuzzle > button, .createFolderOverlay > button {
    background-color: #007eec;
    border: 1px solid #0460b1;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0px 2px 4px 0px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    outline: 0px;
    padding: 5px;
    text-align: center;
    touch-action: manipulation;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
}

.menuOptions > button:hover:not([disabled]), .createPuzzle > button:hover:not([disabled]), .createFolderOverlay > button:hover:not([disabled]) {
  box-shadow: rgba(0, 0, 0, .20) 0px 3px 9px 0px;
  transform: translateY(-1px);
}

.menuOptions > button:disabled, .createPuzzle > button:disabled, .createFolderOverlay > button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.menuItem {
    aspect-ratio: 1/1;
    background-color: #007eec;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    list-style-type: none;
    border: 1px solid black;
    max-width: 175px;
    min-width: 175px;
    position: relative;
    width: 175px;
}

.menuItem:hover {
    box-shadow: rgba(0, 0, 0, .35) 0px 3px 9px 0px;
    cursor: pointer;
    transform: translateY(-2px);
}

.menuItemHeader {
    background-color: black;
    height: 30px;
    left: 0px;
    opacity: .5;
    top: 0px;
}

.menuItemTitle {
    color: white;
    left: 0px;
    line-height: 20px;
    margin: 5px;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    top: 0px;
    width: 165px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s linear;
}

.createPuzzle {
    background-color: #798bff;
    border: 1px solid black;
    margin: auto;
    max-height: calc(100vh - 100px);
    max-width: calc(100vw - 20px);
    position: relative;
}

.createPuzzleHeader {
    background-color: black;
    height: 30px;
    left: 0px;
    opacity: .5;
    top: 0px;
}

.createPuzzleTitle {
    color: white;
    left: 0px;
    line-height: 20px;
    margin: 5px;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    top: 0px;
    width: 370px;
}

.createPuzzleInput {
    display: block;
    margin: 5px;
}

.createPuzzlePreview {
    height: auto;
    object-fit: contain;
    max-height: calc(100vh - 215px);
    max-width: calc(100vw - 50px);
    width: auto;
}

.createPuzzleButton {
    margin: 0px 0px 5px 5px;
}

.diskSpace {
    background-color: #47a9ff;
    border: 1px solid #0460b1;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0px 2px 4px 0px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    outline: 0px;
    padding: 3px 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    touch-action: manipulation;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
}

.diskSpace:hover {
    box-shadow: rgba(0, 0, 0, .2) 0px 3px 9px 0px;
    transform: translateY(-1px);
}
.diskSpaceText {
    color: #fff;
    display: none;
    font-size: 12px;
    font-weight: 400;
    vertical-align: middle;
}

.createFolderOverlay {
    position: absolute;
    background-color: #4babff;
    border: 2px solid #0460b1;
    left: 50%;
    width: 300px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.createFolderOverlayHeader {
    background-color: black;
    height: 30px;
    left: 0px;
    opacity: .5;
    top: 0px;
}

.createFolderOverlayTitle {
    color: white;
    left: 0px;
    line-height: 20px;
    margin: 5px;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    top: 0px;
    width: 165px;
}

.createFolderOverlayInput {
    display: block;
    margin: 5px;
}

.createFolderOverlayButton {
    margin: 20px 5px 5px 5px;
}

.createPuzzleName, .createFolderName {

}

.dragging {
    opacity: .25;
}